<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>ExtractKeyword</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>WordSegment</servlet-name>
		<servlet-class>Servlet.WordSegment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WordSegment</servlet-name>
		<url-pattern>/WordSegment</url-pattern>
	</servlet-mapping>
</web-app>